.container {
    height: 100vh;
    color: #ececec;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 80px;
}

.form-container {
    background-color: #121212;
    border: 0px solid #ececec;
    border-radius: 14px;
    padding: 25px 20px;
    /* box-shadow: 0 4px 10px #000000df;   */
    box-shadow: 0 0 8px #626262df;
    padding-bottom: 30px;

}

.form-container input {
    min-width: 450px;
    border: none;
    padding: 20px;
    background-color: rgba(225, 225, 225, 0.05);
    border-radius: 14px;
    font-size: 16px;
    color: #ececec;
    margin-bottom: 10px;

}

.container button {
    border: none;
    background: transparent;
    border: 1px solid #ececec;
    border-radius: 8px;
    color: #121212;
    background-color: #ececec;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;

}

.btns {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btns .login-btn,
.btns .signup-btn {
    text-decoration: none;
    background-color: #ececec;
    border: 1px solid #ececec;
    border-radius: 8px;
    color: #121212;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
}

.signup-btn:hover,
.login-btn:hover {
    background-color: #121212;
    color: #ececec;
}

.form-container P {
    font-size: 12PX;
    text-align: center;
}

/* Responsive  */
@media (max-width: 575px) {
    .container h1 {
        font-size: 24px;
    }
 
    .form-container input {
        min-width: 380px;
        padding: 15px;
    }

    .btns .login-btn,
    .btns .signup-btn {
         
        padding: 8px 14px; 
        font-size: 14px;
    }
}
@media (max-width: 475px) {
    .container h1 {
        font-size: 24px;
    }
 
    .form-container input {
        min-width: 320px;
        padding: 15px;
    }

    .btns .login-btn,
    .btns .signup-btn {
         
        padding: 8px 14px; 
        font-size: 14px;
    }
}
@media (max-width: 391px) {
    .container h1 {
        font-size: 24px;
    }
 
    .form-container input {
        min-width: 250px;
        padding: 15px;
    }

    .btns .login-btn,
    .btns .signup-btn {
         
        padding: 8px 14px; 
        font-size: 14px;
    }
}
@media (max-width: 320px) {
    .container h1 {
        font-size: 24px;
    }
 
    .form-container input {
        min-width: 200px;
        padding: 15px;
    }

    .btns .login-btn,
    .btns .signup-btn {
         
        padding: 8px 14px; 
        font-size: 14px;
    }
}