* {
  font-family: Roboto, 'Open Sans', 'Helvetice Neue', sans-serif;
  /* color: #ececec; */

}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #212121;
  display: flex;
}


/* Dark/light mode */
 
.app.dark .theme-toggle {
  background: #fff;
  color: #212121;
}

.app.light .theme-toggle {
  background: #333;
  color: #fff;
}

.app.light .theme-toggle:hover,
.app.dark .theme-toggle:hover {
  opacity: 0.9;
}

.sidebar {
  background-color: inherit;
  transition: background-color 0.3s ease;
  ;
}

.theme-toggle {
  margin: 10px;
  padding: 8px 12px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

/* sidebar */
.app.light .sidebar {
  background-color: #ccc;
  color: #212121;
}

.app.light .logo {
  background-color: #eee;
  border: 1px solid #aaa;

}

.app.light .logo:hover {
  background-color: #aaa;
}

.app.light .img-gallery-icon{
  color: #444;
}
.app.light .logo p,
.app.light .logo i {
  color: #212121;
}

.app.light .thread {
  color: #212121;
  /* font-weight: 600; */
  scrollbar-color: #000 #aaa;

}

.app.light .thread li {
  font-size: 15px;
}

.app.light .thread li:hover {
  background: #fff;
}

.app.light .highlighted {
  background: #eee;
}

.app.light .sign {
  border-top: 2px solid #fff
}

/* chatwindow */
.app.light .chatWindow {
  background-color: #eee;
  color: #212121;
}

.app.light .navbar {
  border-bottom: 1px solid #bbb;
}
.app.light .userIcon {
    background: #bbb;
    
}
.app.light .navbar span:hover {
  background: #bbb;
}

.app.light .dropdown {
  border: #212121 solid 0.02rem;
  background-color: #eee;
}

.app.light .dropdownItem:hover {
  color: #fff;
  background-color: #999;
}

.app.light input {
  color: #000;
  background-color: #aaa;
}

.app.light #submit { 
  color: #212121;

}
.app.light #submit i:hover { 
  color: #212121;
  opacity: 0.9;
}
.app.light .info{
  color: #212121;
} 
 
/* chat */
.app.light .userMessage{
  background-color: #aaa;
  font-weight: 600;
}
.app.light .fa-circle-down{
  color: #000;
}